<div id="contenedor">
    <div id="ancho">
        <div id=contenedor_info>
            <h1>Registro</h1>
            <form action="#" id="form-Registro">
                <label for="nombre">Nombre:</label><br />
                <input type="text" id="nombre"><br /><br />
                <label for="apellidos">Apellidos:</label><br />
                <input type="text" id="apellidos"><br /><br />
                <label for="usuario">Correo o User: </label><br />
                <input type="text" id="usuario" placeholder="@ejemplo.com"><br /><br />
                <label for="password" class="label_form">Pass:</label><br />
                <input type="password" id="password" class="input_form" placeholder="****"><br /><br /><br />
                <button type="submit" class="btn">Registrarse</button><br /><br />
                <hr>
                <a id="go_login" href="inicio.html">¿Ya tienes una cuenta? Log-In</a>

            </form>

        </div>
    </div>
    <div id="logo">
        <img src="../../../assets/img/Logo.png" id='img_logo'>
    </div>
</div>