<div id="contenedor">
    <div id="ancho">
        <div id=contenedor_info>
            <h1>Contactanos</h1>
            <form action="#" id="form-Contacto">
                <label for="nombre">Nombre:</label><br />
                <input type="text" id="nombre"><br /><br />
                <label for="apellidos">Apellidos:</label><br />
                <input type="text" id="apellidos"><br /><br />
                <label for="motivo">Preguntas o Comentarios:  </label><br />
                <textarea id = "motivo"></textarea>  <br/><br/>              
                <button type="submit" class="btn">Enviar</button><br /><br />

            </form>

        </div>
    </div>
    <div id="logo">
        <img src="../../../assets/img/Logo.png" id='img_logo'>
    </div>
</div>