<div id="contenedor">
    <div id="ancho">
        <div id=contenedor_info>

            <h1>Login</h1><br /><br />
            <form action="#" id="formLogin">
                <label for="usuario">User:</label><br />
                <input type="text" id="usuario" placeholder="ejemplo@ejemplo.com"><br /><br />
                <label for="password">Pass:</label><br />
                <input type="password" id="password" placeholder="****"><br /><br /><br /><br />
                <button type="submit" class="btn">Ingresar</button><br /><br />
                <hr>
                <br />
                <a href="#" id="olvido_pass">Olvido su contraseña?</a><br /><br />
            </form>

        </div>
    </div>
    <div id="logo">
        <img src="../../../assets/img/Logo.png" id='img_logo'>
    </div>
</div>