<header>
    <nav id="nav_bar">
        <ul id="lista">
            <li class="elem">
                <a href="" [routerLink] = "['home']" id="home_header">Home</a>
            </li>            
            <li class="elem">
                <a href="" [routerLink] = "['/about-us']" id="aboutUs_header">¿Quienes Somos?</a>
            </li>
            <li class="elem">
                <a href="" [routerLink] = "['registro']" id="registro_header">Registrate</a>
            </li>
            <li class="elem">
                <a href = "" [routerLink] = "['contacto']">Contactanos</a>
            </li>
            
        </ul>

        <!--Ubica el codigo pertinente al componente que llama el routing-->
        <router-outlet></router-outlet> 

    </nav>
</header>