<div id="contenedor">
    <div id="ancho">
        <div id=contenedor_info>
            <h1>¿Quiénes Somos?</h1> <br /><br />
            <section>
                <p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere metus
                    vel metus
                    condimentum, euismod hendrerit sem cursus. Integer rhoncus sodales nisi, vel cursus lectus dictum
                    sed. Aliquam pretium ultrices metus id fringilla. Maecenas vitae vehicula nisi. Fusce ac sagittis
                    erat. Donec vel quam non risus venenatis pellentesque. In hac habitasse platea dictumst. Cras at
                    tristique lorem, aliquet efficitur purus. Mauris feugiat, elit ac ullamcorper viverra, nisi est
                    vulputate ipsum, id semper ligula tellus quis nisl. Ut faucibus orci non ex facilisis finibus.
                    Suspendisse facilisis, lacus a lobortis elementum, libero nisi laoreet dolor, vitae efficitur augue
                    felis sit amet neque. Ut cursus diam orci, quis accumsan nisi sagittis sodales.</p>
                <p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere metus
                    vel metus
                    condimentum, euismod hendrerit sem cursus. Integer rhoncus sodales nisi, vel cursus lectus dictum
                    sed. Aliquam pretium ultrices metus id fringilla. Maecenas vitae vehicula nisi. Fusce ac sagittis
                    erat. Donec vel quam non risus venenatis pellentesque. In hac habitasse platea dictumst. Cras at
                    tristique lorem, aliquet efficitur purus. Mauris feugiat, elit ac ullamcorper viverra, nisi est
                    vulputate ipsum, id semper ligula tellus quis nisl. Ut faucibus orci non ex facilisis finibus.
                    Suspendisse facilisis, lacus a lobortis elementum, libero nisi laoreet dolor, vitae efficitur augue
                    felis sit amet neque. Ut cursus diam orci, quis accumsan nisi sagittis sodales.</p>
            </section>
        </div>
    </div>
    <div id="logo">
        <img src="../../../assets/img/Logo.png" id='img_logo'>
    </div>
</div>