
#contenedor{
    display: flex;
    width: 90%;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

#ancho{
    width: 50%;
    max-height: 100%;
}

#contenedor_info{
    display: block;
    width: 80%;
    /* max-width: 330px; */
    background-color: white;
    padding: 30px;
    padding-top: 30px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

#logo{
    display : block;
    width: 55%;
    float: right;
    padding: 20px;
}
#img_logo{
    width: 100%;
}
